[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/AchyuthAch
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/AchyuthAch
	label-Verified = -1..+1 group user/AchyuthAch
	push = group user/AchyuthAch
	read = group user/AchyuthAch
	rebase = group user/AchyuthAch
	removeReviewer = group user/AchyuthAch
	submit = group user/AchyuthAch
[access "refs/heads/*"]
	create = group user/AchyuthAch
	push = +force group user/AchyuthAch
	pushMerge = group user/AchyuthAch
	read = group user/AchyuthAch
[access "refs/tags/*"]
	push = group user/AchyuthAch
	push = +force group user/AchyuthAch
